In [2]:
import pandas as pd
df = pd.read_csv('../dados/dados_evasao.csv')

In [8]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       649 non-null    object
 1   Age                          649 non-null    int64
 2   Address                      649 non-null    object
 3   Mother_Education             649 non-null    int64
 4   Father_Education             649 non-null    int64
 5   Mother_Job                   649 non-null    object
 6   Travel_Time                  649 non-null    int64
 7   Study_Time                   649 non-null    int64
 8   Wants_Higher_Education       649 non-null    object
 9   Internet_Access              649 non-null    object
 10  In_Relationship              649 non-null    object
 11  Free_Time                    649 non-null    int64
 12  Going_Out                    649 non-null    int64
 13  Weekend_Alcohol_Consumption  649 non-null    int64
 14  Weekday_Alcohol_Consumption  649 non-null    int64
 15  Number_of_Absences           649 non-null    int64
 16  Grade_1                      649 non-null    int64
 17  Grade_2                      649 non-null    int64
 18  Final_Grade                  649 non-null    int64
 19  Dropped_Out                  649 non-null    bool
dtypes: bool(1), int64(13), object(6)
memory usage: 97.1+ KB

In [3]:
df.head()

,School,Gender,Age,Address,Family_Size,Parental_Status,Mother_Education,Father_Education,Mother_Job,Father_Job,...,Free_Time,Going_Out,Weekend_Alcohol_Consumption,Weekday_Alcohol_Consumption,Health_Status,Number_of_Absences,Grade_1,Grade_2,Final_Grade,Dropped_Out
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,4,0,11,11,False
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,2,9,11,11,False
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,6,12,13,12,False
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,0,14,14,14,False
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,0,11,13,13,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   School                       649 non-null    object
 1   Gender                       649 non-null    object
 2   Age                          649 non-null    int64
 3   Address                      649 non-null    object
 4   Family_Size                  649 non-null    object
 5   Parental_Status              649 non-null    object
 6   Mother_Education             649 non-null    int64
 7   Father_Education             649 non-null    int64
 8   Mother_Job                   649 non-null    object
 9   Father_Job                   649 non-null    object
 10  Reason_for_Choosing_School   649 non-null    object
 11  Guardian                     649 non-null    object
 12  Travel_Time                  649 non-null    int64
 13  Study_Time                   649 non-null    int64
 14  Number_of_Failures           649 non-null    int64
 15  School_Support               649 non-null    object
 16  Family_Support               649 non-null    object
 17  Extra_Paid_Class             649 non-null    object
 18  Extra_Curricular_Activities  649 non-null    object
 19  Attended_Nursery             649 non-null    object
 20  Wants_Higher_Education       649 non-null    object
 21  Internet_Access              649 non-null    object
 22  In_Relationship              649 non-null    object
 23  Family_Relationship          649 non-null    int64
 24  Free_Time                    649 non-null    int64
 25  Going_Out                    649 non-null    int64
 26  Weekend_Alcohol_Consumption  649 non-null    int64
 27  Weekday_Alcohol_Consumption  649 non-null    int64
 28  Health_Status                649 non-null    int64
 29  Number_of_Absences           649 non-null    int64
 30  Grade_1                      649 non-null    int64
 31  Grade_2                      649 non-null    int64
 32  Final_Grade                  649 non-null    int64
 33  Dropped_Out                  649 non-null    bool
dtypes: bool(1), int64(16), object(17)
memory usage: 168.1+ KB

In [5]:
colunas_uteis = [
    'Gender',
    'Age',
    'Address',
    'Mother_Education',
    'Father_Education',
    'Mother_Job',
    'Travel_Time',
    'Study_Time',
    'Wants_Higher_Education',
    'Internet_Access',
    'In_Relationship',
    'Free_Time',
    'Going_Out',
    'Weekend_Alcohol_Consumption',
    'Weekday_Alcohol_Consumption',
    'Number_of_Absences',
    'Grade_1',
    'Grade_2',
    'Final_Grade',
    'Dropped_Out'
]

df_limpo = df[colunas_uteis]

In [6]:
df_limpo.head

<bound method NDFrame.head of     Gender  Age Address  Mother_Education  Father_Education Mother_Job  \
0        F   18       U                 4                 4    at_home
1        F   17       U                 1                 1    at_home
2        F   15       U                 1                 1    at_home
3        F   15       U                 4                 2     health
4        F   16       U                 3                 3      other
..     ...  ...     ...               ...               ...        ...
644      F   19       R                 2                 3   services
645      F   18       U                 3                 1    teacher
646      F   18       U                 1                 1      other
647      M   17       U                 3                 1   services
648      M   18       R                 3                 2   services

     Travel_Time  Study_Time Wants_Higher_Education Internet_Access  \
0              2           2                    yes              no
1              1           2                    yes             yes
2              1           2                    yes             yes
3              1           3                    yes             yes
4              1           2                    yes              no
..           ...         ...                    ...             ...
644            1           3                    yes             yes
645            1           2                    yes             yes
646            2           2                    yes              no
647            2           1                    yes             yes
648            3           1                    yes             yes

    In_Relationship  Free_Time  Going_Out  Weekend_Alcohol_Consumption  \
0                no          3          4                            1
1                no          3          3                            1
2                no          3          2                            2
3               yes          2          2                            1
4                no          3          2                            1
..              ...        ...        ...                          ...
644              no          4          2                            1
645              no          3          4                            1
646              no          1          1                            1
647              no          4          5                            3
648              no          4          1                            3

     Weekday_Alcohol_Consumption  Number_of_Absences  Grade_1  Grade_2  \
0                              1                   4        0       11
1                              1                   2        9       11
2                              3                   6       12       13
3                              1                   0       14       14
4                              2                   0       11       13
..                           ...                 ...      ...      ...
644                            2                   4       10       11
645                            1                   4       15       15
646                            1                   6       11       12
647                            4                   6       10       10
648                            4                   4       10       11

     Final_Grade  Dropped_Out
0             11        False
1             11        False
2             12        False
3             14        False
4             13        False
..           ...          ...
644           10        False
645           16        False
646            9         True
647           10        False
648           11        False

[649 rows x 20 columns]>

In [7]:
df_limpo.to_csv('../dados/dados_evasao_limpo.csv', index=False)

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\oizab\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\oizab\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\oizab\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\oizab\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\oizab\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\oizab\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: C:\Users\oizab\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip